body {
    /* background-color: rgba(32, 179, 32, 0.562) ; */
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: "El Messiri", sans-serif;
}

.background{
    background-size: cover;
}

.zaglavie {
    display: flex;
    justify-content: center;
    font-size:1.8rem;
    color: rgb(255, 255, 255);
    margin-top: 0rem; 
    text-shadow: 3px 3px 3px rgb(110, 110, 110);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 650px;
    padding: 2rem;
    border-radius: 10%;
    box-shadow: 20px 20px 5px rgba(71, 105, 70, 0.562);
    margin-bottom: 2rem;
}

.jaba-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;  
}

.jaba {
    width: 160px;
    height: 160px;
}

.label {
  
    align-self: flex-start; 
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    margin-bottom: -0.2rem;
    margin-left: -0.7rem;
}

.email {
   
    align-self: flex-start; 
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: -0.7rem;
    border: 2px solid rgb(90, 218, 74);
    border-bottom: 4px solid rgb(32, 179, 32) ;
}

.parola {
    
    align-self: flex-start; 
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: -0.7rem;
    border: 2px solid rgb(90, 218, 74);
    border-bottom: 4px solid rgb(32, 179, 32) ;
}

.CheckBox{
   margin-left: -11rem;
   font-size: 14px;
   margin-top: 0.5rem;
   display: flex;
   align-items: center;

}

.checkbox{
    margin-bottom: 1.4rem;
    margin-right: 0.5rem;
}

.zelen-tekst{
    color:rgb(32, 179, 32) ;
    font-weight: 600;
    margin-top: -0.1rem;
    
}

input::placeholder {
    font-family: "El Messiri", sans-serif;
    font-size: 16px;                   
    color: gray;                       
    font-weight: normal;               
    font-style: italic;               
}

.buton{
    margin-top: 1rem;
    height: 3.5rem;
    width: 13rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    border: 2px solid rgb(32, 179, 32);
    background-color:  rgba(32, 179, 32, 0.562) ;
    font-family: "El Messiri", sans-serif;
    border-right: 5px solid rgba(32, 179, 32, 0.562) ;
    border-bottom: 5px solid rgba(32, 179, 32, 0.562) ;
    color: white;
}